@page "/servers"

<h3>Servers</h3>
<br />
<br />
@foreach (string s in cities)
{
    <button type="button">@s</button>
}


    <ServerComponent @rendermode="InteractiveServer"></ServerComponent>

<ul>
    @foreach(var server in servers)
    {
        <li>
            @server.Name in @server.City is 
            <span style="color:@((server.IsOnline?"green":"red"))">
                @(server.IsOnline ? "Online" : "Offline")
            </span>
            <a href="/servers/@server.ServerId" class="btn btn-link">Edit</a>
            &nbsp;
            <EditForm
                Model="server"
                FormName="@($"from-server-{server.ServerId}")"
                OnValidSubmit=@(()=> {DeleteServer(server.ServerId);})>
                <button type="submit" class="btn btn-primary">Delete</button>
             </EditForm>

        </li>

    }
    <div>
        <a href="/addserver" class="btn btn-link">Add</a>
    </div>
</ul>
@code {
    private List<Server> servers = ServersRepository.GetServers;
    private List<string> cities = CitiesRepository.GetCities();

    private void DeleteServer(int serverId)
    {
        if(serverId>0)
        {
            ServersRepository.DeleteServer(serverId);
        }
    }
}
